#Top_bar a#search_button
{
    top: -2px;
    font-size: 15px;
}

/*Copy #Action_bar to #Footer*/
#Footer .contact_details {
    color: #bbbbbb;
}
#Footer .contact_details {
    float: left;
}
#Footer .contact_details li {
    display: inline-block;
    margin-right: 10px;
    /*padding: 20px 0;*/
    color: rgba(255, 255, 255, 0.5);
}

#Top_bar .search_wrapper .icon_eye {
    left: 18px;
    color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 65px;
    font-size: 22px;
    line-height: 22px;
    display: block;
}

.input-w label {
    display: inline-block;
    vertical-align: middle;    
}

.input-w input {
    display: inline-block;
    vertical-align: middle;
}

.input-w input::selection {
    background: black;
}

.input-w input::-moz-selection {
    background: black;
}

#registerform .column {
    margin-bottom: 10px;
}

#registerform .column input[type="text"], #registerform .column input[type="email"] {
    width: 100%;
}

#registerWrapper input[type="date"], #registerWrapper input[type="email"], #registerWrapper input[type="number"], #registerWrapper input[type="password"], #registerWrapper input[type="search"], #registerWrapper input[type="tel"], #registerWrapper input[type="text"], #registerWrapper input[type="url"], #registerWrapper select, #registerWrapper textarea {
    padding: 10px;
    outline: none;
    margin: 0;
    width: 100%;
    max-width: 100%;
    display: block;
    margin-bottom: 0;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

label.error {
    color: #ff0000;
    font-size: 12px;
}