<!--header.html-->

<!doctype html>
<html>

  <head>
    <!--Use the `title` variable to set the title of the page-->
    <title>{{ .title }}</title>
    <meta name="description" content="Phần mềm hóa đơn điện tử trên nền tảng điện toán đám mây tốt nhất">
    <meta name="keywords" content="hoa don, hóa đơn, hoa don dien tu, hóa đơn điện tử, hoa don online, hóa đơn online, hoa don cloud, hóa đơn cloud, hoa don dam may, hóa đơn đám mây" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="ehoadon">
    <meta charset="UTF-8">
    
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons  -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <!-- FONTS -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lora:100,300,400,400italic,500,700,700italic'>

    <!-- CSS -->
    <link rel='stylesheet' href='css/global.css'>
    <link rel='stylesheet' href='content/betheme/css/structure.css'>
    <link rel='stylesheet' href='content/betheme/css/betheme2.css'>
    <link rel='stylesheet' href='content/betheme/css/custom.css'> 
    
    <!-- Revolution Slider -->
    <link rel="stylesheet" href="plugins/rs-plugin/css/settings.css"> 

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111883091-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-111883091-2');
    </script>
  </head>

  <body class="home page-template-default page template-slider color-custom style-default layout-full-width no-content-padding header-classic sticky-header sticky-tb-color ab-show subheader-both-center menu-link-color menuo-right mobile-tb-hide mobile-side-slide mobile-mini-mr-ll" cz-shortcut-listen="true">
      <div id="Wrapper">
        <!--Embed the menu.html template at this location-->
        {{ template "headerWrapper.html" . }}