<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section" style="padding-top:70px; padding-bottom:30px;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one-third column_icon_box">
                                    <div class="icon_box icon_position_top has_border">
                                        <div class="icon_wrapper">
                                            <div class="icon">
                                                <i class="icon-cloud"></i>
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4 class="title">Điện toán đám mây</h4>
                                            <div class="desc">
                                                Dữ liệu lưu trữ trực tuyến, khách hàng không phải cài 
                                                <br> đặt bảo trì máy chủ và có thể sử dụng
                                                <br> mọi lúc mọi nơi.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_icon_box ">
                                    <div class="icon_box icon_position_top has_border">
                                        <div class="icon_wrapper">
                                            <div class="icon">
                                                <i class="icon-cog-line"></i>
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4 class="title">Dễ sử dụng</h4>
                                            <div class="desc">
                                                Chương trình được thiết kế đơn giản và thuận tiện
                                                <br>cho người sử dụng, rút ngắn thời gian đào tạo.
                                                <br>Có thể bắt đầu <b>sử dụng ngay sau 1 bước đăng ký.</b> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_icon_box ">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="icon_wrapper">
                                            <div class="icon">
                                                <i class="icon-star-line"></i>
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4 class="title">Chất lượng tốt nhất</h4>
                                            <div class="desc">
                                                <b>Miễn phí 50 hóa đơn đầu tiên</b> để khách hàng 
                                                <br> dùng thử sản phẩm trước khi quyết định thanh toán.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:10px; padding-bottom:20px;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_fancy_heading">
                                    <div class="fancy_heading fancy_heading_icon">
                                        <span class="icon_top"><i class="icon-heart-line"></i></span>
                                        <h2 class="title">Các Gói Sản Phẩm Cơ Bản</h2>
                                        <div class="inside">
                                            <p class="big" style="margin: 0;">
                                                Các gói sản phẩm cơ bản phù hợp với yêu cầu của quý khách. 
                                                <br> Quý khách có thể liên hệ để có gói sản phẩm phù hợp và mức giá ưu đãi.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_pricing_item ">
                                    <div class="pricing-box  pricing-box-label">
                                        <div class="plan-header">
                                            <h2>-</h2>
                                            <div class="price">
                                                <span>0</span><sup class="currency">đ</sup><sup class="period">/ năm</sup>
                                            </div>
                                            <hr class="hr_color">
                                            <p class="subtitle">
                                                <big>-</big>
                                                <br>&nbsp;
                                            </p>
                                        </div>
                                        <div class="plan-inside">
                                            <ul>
                                                <li>
                                                    <i class="icon-calendar-line"></i> Thời gian sử dụng
                                                </li>
                                                <li>
                                                    <i class="icon-drive"></i> Số lượng hóa đơn
                                                </li>
                                                <li>
                                                    <i class="icon-users"></i> Số lượng người dùng
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="plan-footer">
                                            <a href="#" class="button button_theme button_js "><span class="button_label">Đăng Ký</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_pricing_item ">
                                    <div class="pricing-box  pricing-box-table">
                                        <div class="plan-header">
                                            <h2>Basic</h2>
                                            <div class="price">
                                                <span>1 900 000</span><sup class="currency">đ</sup>
                                            </div>
                                            <hr class="hr_color">
                                            <p class="subtitle">
                                                <big>Dùng cho các doanh nghiệp vừa</big>
                                                <br>&nbsp;
                                            </p>
                                        </div>
                                        <div class="plan-inside">
                                            <ul>
                                                <li>
                                                    Không giới hạn
                                                </li>
                                                <li>
                                                    2000
                                                </li>
                                                <li>
                                                    5
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="plan-footer">
                                            <a href="#" class="button button_theme button_js "><span class="button_label">Đăng Ký</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_pricing_item ">
                                    <div class="pricing-box  pricing-box-featured pricing-box-table">
                                        <div class="plan-header">
                                            <h2>Standard</h2>
                                            <div class="price">
                                                <span>5 900 000</span><sup class="currency">đ</sup>
                                            </div>
                                            <hr class="hr_color">
                                            <p class="subtitle">
                                                <big>Phù hợp với đa số quy mô doanh nghiệp</big>
                                            </p>
                                        </div>
                                        <div class="plan-inside">
                                            <ul>
                                                <li>
                                                    Không giới hạn
                                                </li>
                                                <li>
                                                    10 000
                                                </li>
                                                <li>
                                                    Unlimited
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="plan-footer">
                                            <a href="#" class="button button_theme button_js "><span class="button_label">Đăng Ký</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_pricing_item ">
                                    <div class="pricing-box  pricing-box-table">
                                        <div class="plan-header">
                                            <h2>Enterprise</h2>
                                            <div class="price">
                                                <span>290 </span><sup class="currency"> triệu đ</sup>
                                            </div>
                                            <hr class="hr_color">
                                            <p class="subtitle">
                                                <big>Phù hợp với các doanh nghiệp lớn</big>
                                                <br>&nbsp;
                                            </p>
                                        </div>
                                        <div class="plan-inside">
                                            <ul>
                                                <li>
                                                    Không giới hạn
                                                </li>
                                                <li>
                                                    1 000 000
                                                </li>
                                                <li>
                                                    Unlimited
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="plan-footer">
                                            <a href="#" class="button button_theme button_js "><span class="button_label">Đăng Ký</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line">
                                </div>
                                <div class="column mcb-column one-second column_column">
                                    <div class="column_attr clearfix">
                                        <p class="big">
                                            * Các gói sản phẩm trên bao gồm luôn gói 50 hóa đơn miễn phí.
                                        </p>
                                        <p style="margin-bottom: 0;">
                                            * Nếu cần kết nối với các sản phẩm kế toán, ERP, CRM xin quý khách liên hệ chi tiết
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-second column_column">
                                    <div class="column_attr clearfix">
                                        <p>
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" id="about" style="padding-top:80px; padding-bottom:30px; background-color:#f2f3f5; background-repeat:no-repeat; background-position:center bottom">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one-third column_column">
                                    <div class="column_attr clearfix">
                                        <h3 class="themecolor">Chúng tôi</h3>
                                        <p class="big">
                                            Chúng tôi đã có kinh nghiệp hơn 15 năm phát triển sản phẩm và triển khai các sản phẩm phần mềm ERP, kế toán.
                                        </p>
                                        <p>
                                            Sản phẩm của chúng tôi thiết kế phù hợp với các yêu cầu quản lý doanh nghiệp nói chung và các yêu cầu đặc thù của từng doanh nghiệp như sản xuất, thương mại, siêu thị.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_column">
                                    <div class="column_attr clearfix">
                                        <h3 class="themecolor">Nhiệm vụ</h3>
                                        <p class="big">
                                            Chúng tôi có nhiệm vụ rõ ràng là giúp khách hàng giải quyết các vấn đề khi điều hành, quản lý doanh nghiệp.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_column">
                                    <div class="column_attr clearfix">
                                        <h3 class="themecolor">Công nghệ</h3>
                                        <p class="big">
                                            Sản phẩm của chúng tôi được thiết kế chạy trên nền điện toán đám mây, có thể sử dụng trên mọi thiết bị và mobile.
                                        </p>
                                        <p>
                                            Cloud first là mục tiêu đầu tiên khi chúng tôi phát triển sản phẩm.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 30px">
                                </div>
                                <div class="column mcb-column one column_divider">
                                    <hr style="margin: 0 auto 80px">
                                </div>
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h2 style="margin: 0;">Các sản phẩm của chúng tôi</h2>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_slider ">
                                    <div class="content_slider ">
                                        <ul class="content_slider_ul">
                                            <li class="content_slider_li_1"><img width="890" height="470" src="images/home_betheme_contentslider1.jpg" class="scale-with-grid wp-post-image" alt="">
                                            </li>
                                            <li class="content_slider_li_2"><img width="890" height="470" src="images/home_betheme_contentslider2.jpg" class="scale-with-grid wp-post-image" alt="">
                                            </li>
                                            <li class="content_slider_li_3"><img width="890" height="470" src="images/home_betheme_contentslider3.jpg" class="scale-with-grid wp-post-image" alt="">
                                            </li>
                                            <li class="content_slider_li_4"><img width="890" height="470" src="images/home_betheme_contentslider4.jpg" class="scale-with-grid wp-post-image" alt="">
                                            </li>
                                        </ul>
                                        <div class="slider_pager slider_pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" id="contact" style="padding-top:20px; padding-bottom:60px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column two-third column_column">
                                    <div class="google-map-wrapper no_border">
                                        <div class="google-map" id="google-map-area-58af1ee65f2cb" style="width:100%; height:400px;">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_column">
                                    <div class="get_in_touch">
                                        <h3>Văn phòng Hà Nội</h3>
                                        <div class="get_in_touch_wrapper">
                                            <ul>
                                                <li class="address">
                                                    <span class="icon"><i class="icon-location"></i></span><span class="address_wrapper"><strong>Tòa Nhà Center Point</strong>
                                                        <br>
                                                        P1205, Đơn nguyên 2
                                                        <br>
                                                        85-Lê Văn Lương, Thanh Xuân, Cầu Giấy, Hà Nội</span>
                                                </li>
                                                <li class="phone">
                                                    <span class="icon"><i class="icon-phone"></i></span>
                                                    <p>
                                                        <a href="tel:024 63287650">024 63287650</a>
                                                    </p>
                                                </li>
                                                <li class="mail">
                                                    <span class="icon"><i class="icon-mail"></i></span>
                                                    <p>
                                                        <a href="mailto:sales@ehoadon.com.vn">sales@ehoadon.com.vn</a>
                                                    </p>
                                                </li>
                                                <li class="www">
                                                    <span class="icon"><i class="icon-link"></i></span>
                                                    <p>
                                                        <a target="_blank" href="http://ehoadon.com.vn">http://ehoadon.com.vn</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}