<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <header>

    </head>
    <body>
        <p>
            <h1>Xin cảm ơn quý khách đã đăng ký sử dụng hóa đơn điện tử <a href="https://ehoadon.com.vn"> eInvoice</a></h1> <br/>
            <br/>
            <br/>
            Yêu cầu đăng ký của quý khách đã thành công. 
            <br/>
            Để bắt đầu sử dụng chương trình Xin hãy truy cập vào địa chỉ : <a href="https://{{.Code|ToLower}}.ehoadon.com.vn">https://{{.Code|ToLower}}.ehoadon.com.vn</a><br/>
            Tên đăng nhập : ADMIN<br/>
            Mật khẩu : 123456<br/>
        </p>
    </body>
</html>