<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <header>

    </head>
    <body>
        <p>
            <h1>Xin cảm ơn quý khách đã đăng ký sử dụng hóa đơn điện tử <a href="https://ehoadon.com.vn"> eInvoice</a></h1> <br/>
            <br/>
            Xin hãy <a href="https://ehoadon.com.vn/active/active_code={{.ActivatedCode}}">click vào đây</a> để hoàn tất đăng ký <br/>
            Hoặc truy cập vào đường dẫn : https://ehoadon.com.vn/active/active_code={{.ActivatedCode}}
        </p>
    </body>
</html>