<!--register.html-->

<!--Embed the header.html template at this location-->
{{ template "headerHomePage.html" .}}

<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="section section-border-top" style="padding-top:30px; padding-bottom:30px;">
                <div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one-fourth column_column"></div>
                        <div class="column two-fourth column_column">
                            <div data-anim-type="fadeInUpLarge" class="animate fadeInUpLarge">
                                <div id="registerWrapper">
                                    <form id="registerform">
                                        <div class="column one">
                                            <div class="fancy_heading">
                                                <h2 class="title">XIN MỜI QUÝ KHÁCH ĐĂNG KÝ THÔNG TIN</h4>
                                            </div>
                                        </div>
                                        <div class="column two-third">
                                            <label>Tên Công Ty:</label>
                                            <span>
                                                <input type="text" id="name" name="name" aria-required="true" aria-invalid="false" placeholder="" />
                                            </span>
                                        </div>                                        
                                        <div class="column one-third">
                                            <label>Mã Số Thuế:</label>
                                            <span>
                                                <input type="text" id="vatnumber" name="vatnumber" aria-required="true" aria-invalid="false" placeholder="" />
                                            </span>
                                        </div>
                                        <div class="column one">
                                            <label>Địa Chỉ:</label>
                                            <span>
                                                <input type="text" id="address" name="address" aria-required="true" aria-invalid="false" placeholder="" />
                                            </span>
                                        </div>
                                        <div class="column one">
                                            <label>Địa Chỉ Liên Lạc:</label>
                                            <span>
                                                <input type="text" id="address_transition" name="address_transition" aria-required="true" aria-invalid="false" placeholder="" />
                                            </span>
                                        </div>
                                        <div class="column one-fourth">
                                            <label>Điện thoại:</label>
                                            <span>
                                                <input type="text" id="telephone" name="telephone" aria-required="true" aria-invalid="false" placeholder="" />
                                            </span>
                                        </div>
                                        <div class="column one-fourth">
                                            <label>Fax:</label>
                                            <span>
                                                <input type="text" id="fax" name="fax" aria-required="false" aria-invalid="false" placeholder="" />
                                            </span>
                                        </div>
                                        <div class="column one-fourth">
                                            <label>Email:</label>
                                            <span>
                                                <input type="email" id="email" name="email" aria-required="true" aria-invalid="false" placeholder="" />
                                            </span>
                                        </div>
                                        <div class="column one-fourth">
                                            <label>Website:</label>
                                            <span>
                                                <input type="text" id="website" name="website" aria-required="false" aria-invalid="false" placeholder="" />
                                            </span>
                                        </div>
                                        <div class="column one-fourth">
                                            <label>Người đại diện:</label>
                                            <span>
                                                <input type="text" id="telephone" name="telephone" aria-required="false" aria-invalid="false" placeholder="" />
                                            </span>
                                        </div>
                                        <div class="column one-fourth">
                                            <label>Chức vụ:</label>
                                            <span>
                                                <input type="text" id="fax" name="fax" aria-required="false" aria-invalid="false" placeholder="" />
                                            </span>
                                        </div>
                                        <div class="column one-fourth">
                                            <label>Người liên lạc:</label>
                                            <span>
                                                <input type="email" id="email" name="email" aria-required="true" aria-invalid="false" placeholder="" />
                                            </span>
                                        </div>
                                        <div class="column one-fourth">
                                            <label>Mobile:</label>
                                            <span>
                                                <input type="text" id="website" name="website" aria-required="true" aria-invalid="false" placeholder="" />
                                            </span>
                                        </div>
                                        <div class="column one-fourth">
                                            <img id="captchaImg" src="/captcha/{{.CaptchaId}}.png"/> 
                                            <input  id="captchaID" value="{{.CaptchaId}}" style="display:none;">
                                            <label>Mã xác nhận:</label>
                                            <input type="text" class="field" name="captchaInput" id="captchaInput" placeholder="" maxlength="6">
                                        </div>
                                        <div class="column one">
                                            <span>
                                                <input type="checkbox" id="confirm" name="confirm" aria-required="true" aria-invalid="false"/> Tôi cam đoan và chịu trách nhiệm các khai báo của tôi là đúng sự thật
                                            </span>
                                        </div>
                                        <div class="column one">
                                            <input type="button" value="Đăng Ký" id="submit" onClick="return register_new_company();">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="column one-fourth column_column"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}