<!--404.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="section section-border-top section-uc-2">
                <div class="section_wrapper clearfix">
                    <div class="items_group clearfix">
                        <div class="column one column_fancy_heading">
                            <div class="fancy_heading fancy_heading_icon">
                                <div data-anim-type="bounceIn" class="animate bounceIn">
                                    <span class="icon_top"><i class="icon-clock"></i></span>
                                    <h2>Coming Soon</h2>
                                    <div class="inside">
                                        <span class="big">We are working on website very hard.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}